<div class="col-sm-8 blog-main">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h3>Updates</h3>
    <%= render @user.updates %>
    <p><%= link_to 'Back', users_path %></p>
</div><!-- /.blog-main -->