<div class="blog-header">
    <div class="container">
        <h1 class="blog-title"><%= @page_title %></h1>
        <p class="lead blog-description"><%= @mother_to_be.name %>'s Baby Shower</p>
        <% if current_user.has_roles?(:admin, :mom, :helper) %>
            <%= link_to "Write an Update", new_update_path, class: "btn btn-secondary" %>
        <% end %>
    </div>
</div>