<div class="col-sm-8 blog-main">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

        
    <p><%= link_to 'Back to Events', events_path, class: "btn btn-secondary" %></p>
</div><!-- /.blog-main -->