<!-- Page Content -->
<section class="content-section-a">

    <div class="container">
        <div class="row">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2><%= @page_title %></h2>
                <p class="lead">Here are some Frequently Asked Questions about <%= @mother_to_be.name %> Baby Shower.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>