<div class="col-sm-8 blog-main">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'form', update: @update %>

    <%= link_to 'Back', updates_path %>

</div><!-- /.blog-main -->